* {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-image: url("Images/bookCover.png");
  background-repeat: no-repeat;
}

h1, h2 {
  font-family: 'Cherry Swash', cursive;
  text-align: center;
}

.contact-link-parent {
  display: flex;
  justify-content: space-around;
}

.headshot{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.next-page{
  position: absolute;
}

.prev-page{
  position: absolute;
}

li{
  display: block;
}

ul{
  list-style: none;
}

.Front-page{
  display: block;
}

.inactive{
  display: none;
}

.about{
  margin-top: 20px;
  text-align: left;
  margin-left: 30px;
}

.table-contents{
  padding-top: 30px;
}
 .main-nav-link{
   text-align: center;
   margin-bottom: 40px;
 }

 h3 {
   text-align: center;
 }

 .project{
   text-align: center;
 }

 form{
   margin-left: 30px;
 }
 input[type=text]{
   width: 95%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
 }

 input[type=email]{
   width: 95%;
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
 }

 textarea {
    width: 95%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}

 input[type=submit] {
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

@media (max-width: 576px){
  .contact-links{
    position: absolute;
    bottom: 30px;
    width: 100%;
  }

  h1, h2 {
    padding-left: 25px;
    margin-top: 50px;
  }

  .next-page{
    margin-bottom: 50px;
    right: 5px;
  }

  .prev-page{
    margin-bottom: 40px;
    left: 25px;
  }

}

@media(min-width: 720px){

}
