* {
    box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("Images/bookCover.png");
  background-repeat: no-repeat;
  font-size: 16px;

}

h1, h2 {
  font-family: 'Cherry Swash', cursive;
  text-align: center;
}

.contact-link-parent {
  display: flex;
  justify-content: space-around;
}

.headshot{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.next-page{
  position: absolute;
}

.prev-page{
  position: absolute;
}

li{
  display: block;
}

ul{
  list-style: none;
}

.Front-page{
  display: block;
}

.inactive{
  display: none;
}

.about{
  margin-top: 20px;
  text-align: left;
}

.table-contents-title{
  padding-bottom: 20px;
}

.table-contents{
  padding-top: 50px;
}
 .main-nav-link{
   text-align: center;
   margin-bottom: 40px;
 }

 .fa {
   color: #5A95AA;
 }

 a {
   color: #5A95AA;
 }


 h3 {
   text-align: center;
 }

 .project{
   text-align: center;
 }

 input[type=text]{
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
 }

 input[type=email]{
   padding: 12px 20px;
   margin: 8px 0;
   display: inline-block;
   border: 1px solid #ccc;
   border-radius: 4px;
 }

 textarea {
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
}

 input[type=submit] {
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.contact-links{
  position: absolute;
  bottom: 30px;
}
@media (max-width: 576px){
  body{
    margin: 0;
    padding: 0;
  }

  h1, h2 {
    padding-left: 25px;
    margin-top: 50px;
  }

  .contact-links{
      width: 100%;
  }

  .about{
    margin-left: 30px;
  }

  .next-page{
    margin-bottom: 50px;
    right: 5px;
  }

  .prev-page{
    margin-bottom: 40px;
    left: 25px;
  }

  form{
    margin-left: 30px;
  }

  input[type=text]{
    width: 95%;
  }

  input[type=email]{
    width: 95%;
  }

  textarea {
    width: 95%;
  }

}

@media(min-width: 720px){
  body {
    background-image: none;
  }

  /*.change-background .container {
    background-image: url("Images/leftPage.jpg");
  }*/

  /*.Front-page {
    background-image: url("Images/bookCover.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-blend-mode: multiply;
  }*/

  /*.about, .table-contents, .project, .contact {
    width: 100%;
    height: 100%;
    background-image: url("Images/page.jpg");
    background-repeat: no-repeat;
  }*/

  /*.table-contents, #page5, #page7 {
    width: 100%;
    height: 100%;
    background-image: url("Images/rightPage.jpg");
    background-repeat: no-repeat;
  }*/
/*
  .Front-page {
  }*/


  .container {
    background-image: url("Images/bookCover.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #23272D;
    background-blend-mode: multiply;
    height: 100vh;
    width: 75%;
    margin: 0 auto;
    color: #E1EEFB;
  }

  h1, h2 {
    padding-top: 15%;
  }


  .contact-links{
      width: 75%;
  }

  .about{
    padding-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
  }

  .project{
    padding-top: 5%;
  }

  .contact{
    padding-top: 5%;
  }

  /*.left-page {
    background-image: ...;
  }*/

  form{
    margin-left: 10%;
  }

  input[type=text]{
    width: 95%;
  }

  input[type=email]{
    width: 95%;
  }

  textarea {
    width: 95%;
  }

  .next-page{
    margin-bottom: 50px;
    right: 15%;
    margin-top: 10px;
  }

  .prev-page{
    margin-bottom: 40px;
    left: 15%;
    margin-top: 10px;
  }

}
